[tool.poetry]
name = "stlog"
version = "0.1.0"
description = ""
authors = ["Fabien MARTY <fabien.marty@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "stlog"}]

[tool.poetry.dependencies]
python = ">=3.7,<3.12"

[tool.poetry.group.dev.dependencies]
ruff = "^0.0.247"
mypy = "^1.0.1"
black = "^23.1.0"
pdoc3 = "^0.10.0"
mkdocs-material = "^9.0.13"
rich = "^13.3.2"
pytest = "^7.2.2"
pytest-cov = "^4.0.0"
mkdocs-macros-plugin = "^0.7.0"
mkdocs-include-markdown-plugin = "^4.0.4"
types-pyyaml = "^6.0.12.8"
jinja2-shell-extension = "^2.0.0"
termtosvg = "^1.1.0"
dunamai = "^1.16.0"
invoke = "^2.0.0"
types-invoke = "^2.0.0.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
# Enable Pyflakes `E` and `F` codes by default.
select = ["E", "F", "W", "N", "UP", "B", "I", "PL", "RUF"]
ignore = [
    "E501",
    "PLR2004"
]
line-length = 88
target-version = "py37"
extend-exclude = ["docs/python", "html"]

[tool.ruff.isort]
required-imports = ["from __future__ import annotations"]

[tool.mypy]
exclude = ['^html/.*']
